<?xml version='1.0' encoding='utf-8'?>
<widget id="ornek-kebabhaus/de.turkbul.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>Örnek Kebabhaus</name>
    <description>Der beste Kebab.</description>
    <author email="dinc@" href="http://www.agameoftwohalves.com">Dinc</author>
<content src="index.html" />
<access origin="*" />
 <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="pg_wings.png" />
    <preference name="orientation"    value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
     <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ee6e73" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
	
    <plugin name="cordova-plugin-vibration" spec="~2.1.2" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.0" />
	<plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
	<plugin name="com.phonegap.plugins.pushplugin" spec="2.5.0" source="pgb" />
	<plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
	
</widget>
